<div class="container">
    <div class="row">
        <div class="col col-12">
            <h3>Movies List</h3>
                  <div>
                    <%= render :template => 'movie/elements/search' %>
                  </div>
                  <br>

                 <%= render :template => 'movie/elements/movies_table' %>
        </div>
    </div>
</div>